<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs')%>

    <title>Book Details</title>
</head>

<body>
    <%- include('partials/nav.ejs', {page: 'book', user}) %>

    <h1>Book Detailed Information</h1>

    <% for(let b of books){ %>
    <div>
        <img height=200 src="<%= b.data.image_url%>">
        <table class="table">
            <tr>
                <td>Title</td>
                <td><%= b.data.title %></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><%= b.data.author %></td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td><%= b.data.publisher %></td>
            </tr>
            <tr>
                <td>Summary</td>
                <td><%= b.data.summary %></td>
            </tr>
            <tr>
                <td>Year</td>
                <td><%= b.data.year %></td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td><%= b.data.isbn %></td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>
                    <% if(b.data.rating) { %>
                    <div class="containerdiv">
                        <div>
                            <img src="https://image.ibb.co/jpMUXa/stars_blank.png" style="max-width: 100px;">
                        </div>
                        <div class="cornerimage" id="rwidth">
                            <span id="r" hidden><%= b.avgRating %></span>
                            <img src="https://image.ibb.co/caxgdF/stars_full.png" style="max-width: 100px;">
                        </div>
                    </div>&nbsp;
                    (<%= b.data.rating.length %> reviews)
                    <% } else { %>
                    <%= b.avgRating %>
                    <% } %>
                </td>
            </tr>
        </table>
        <form action="/" method="get" style="display:inline">
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
        <form action="/b/add2interested" method="post" style="display:inline">
            <input type="hidden" name="bookId" value="<%= b.bookId %>">
            <button type="submit" class="btn btn-primary">Add to Interested</button>
        </form>
    </div>
    <% } %>

    <br><br><br>

    <%- include('partials/scripts.ejs')%>
</body>

</html>

<style>
    .containerdiv {
        border: 0;
        float: left;
        position: relative;
    }

    .cornerimage {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
</style>

<script>
    document.getElementById("rwidth").style.width = document.getElementById("r").innerHTML
</script>