<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs')%>

    <title>Borrowed</title>
</head>

<body>
    <%- include('partials/nav.ejs', {page: 'borrowed', user}) %>

    <h1>Books you have borrowed</h1>
    <h6>You have borrowed these books; please make sure to return them by the due date. </h6>
    <% if (message) {%>
    <div style="color: red;">
        <h4><%= message %></h4>
    </div>
    <% } %>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Due Date</th>
                <th scope="col">Actions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < borrowed.length; i++) {%>
            <tr>
                <th scope="row"><img height=50 src="<%= borrowed[i].book.image_url%>"></th>
                <td><%= borrowed[i].book.title%></td>
                <td><%= borrowed[i].book.author%></td>
                <% if(borrowed[i].late) { %>
                <td style="color: red; font-weight: bold;"><%= borrowed[i].duedate %></td>
                <% } else { %>
                <td><%= borrowed[i].duedate %></td>
                <% } %>
                <td width="15%">
                    <form action="/b/return" method="post" style="display: inline-block;">
                        <input type="hidden" name="bookId" value="<%= borrowed[i].bookId %>">
                        <input type="hidden" name="borrowId" value="<%= borrowed[i].borrowId %>">
                        <input type="hidden" name="duedate" value="<%= borrowed[i].duedate %>">
                        <button type="submit" class="btn btn-primary">Return</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <%- include('partials/scripts.ejs')%>
</body>

</html>