<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs')%>

    <title>Interested</title>
</head>

<body>
    <%- include('partials/nav.ejs', {page: 'interested', user}) %>

    <h1>Your Interested List</h1>
    <h6>All the books that you are interested in are here. You may borrow them, or get on the waitlist if they are not
        currently available.</h6>

    <% if (message) {%>
    <div style="color: red;">
        <h4><%= message %></h4>
    </div>
    <% } %>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">Year</th>
                <th scope="col">ISBN</th>
                <th scope="col">Actions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < interested.length; i++) {%>
            <tr>
                <th scope="row"><img height=50 src="<%= interested[i].book.image_url%>"></th>
                <td><%= interested[i].book.title%></td>
                <td><%= interested[i].book.author%></td>
                <td><%= interested[i].book.publisher%></td>
                <td><%= interested[i].book.year%></td>
                <td><%= interested[i].book.isbn%></td>
                <td width="25%">
                    <% if(!maxed) { %>

                    <% if(interested[i].book.status === 0 || interested[i].book.status === 2 && interested[i].book.waitlist && interested[i].book.waitlist[0] === user.uid) { %>
                    <form action="/b/borrow" method="post" style="display: inline-block;">
                        <input type="hidden" name="bookId" value="<%= interested[i].bookId %>">
                        <input type="hidden" name="interestedId" value="<%= interested[i].interestedId %>">
                        <button type="submit" class="btn btn-primary">Borrow</button>
                    </form>
                    <% } else if(interested[i].book.status !== 0 && interested[i].book.waitlist && interested[i].book.waitlist.includes(user.uid)) { %>
                    <form action="/b/waitlist" method="post" style="display: inline-block;">
                        <input type="hidden" name="bookId" value="<%= interested[i].bookId %>">
                        <input type="hidden" name="interestedId" value="<%= interested[i].interestedId %>">
                        <button type="submit" class="btn btn-secondary" disabled
                            style="cursor: default;">Waitlisted</button>
                    </form>
                    <% } else { %>
                    <form action="/b/waitlist" method="post" style="display: inline-block;">
                        <input type="hidden" name="bookId" value="<%= interested[i].bookId %>">
                        <input type="hidden" name="interestedId" value="<%= interested[i].interestedId %>">
                        <button type="submit" class="btn btn-primary">Waitlist</button>
                    </form>
                    <% } %>

                    <% } else { %>
                    <button type="button" class="btn btn-secondary" disabled style="cursor: default;">Maxed Borrow
                        Count</button>
                    <% } %>


                    <form action="/b/remove" method="post" style="display: inline-block;">
                        <input type="hidden" name="interestedId" value="<%= interested[i].interestedId %>">
                        <input type="hidden" name="bookId" value="<%= interested[i].bookId %>">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <%- include('partials/scripts.ejs')%>
</body>

</html>