<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs')%>

    <title>Library</title>
</head>

<body>
    <%- include('partials/nav.ejs', {page: 'storefront', user}) %>

    <h1>Library</h1>

    <% if(error) {%>
    <p style="color: red"><%= JSON.stringify(error)%></p>


    <% } else {%>
    <% for(let b of books){ %>

    <div class="card mb-3" style="width: 48%; display: inline-block;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="<%= b.data.image_url%>" class="card-img-top" style="height:12rem; object-fit: contain;">
            </div>
            <div class=" col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= b.data.title %></h5>
                    <p class="card-text">$(<%= b.data.price %>)<br><%= b.data.summary %></p>
                    <form action="/b/book" method="post" style="display:inline">
                        <input type="hidden" name="docId" value="<%= b.id %>">
                        <button type="submit" class="btn btn-primary">Details</button>
                    </form>
                    <form action="/b/add2interested" method="post" style="display:inline">
                        <input type="hidden" name="docId" value="<%= b.id %>">
                        <button type="submit" class="btn btn-primary">Add to Interested</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% } %>
    <% } %>

    <%- include('partials/scripts.ejs')%>
</body>

</html>