<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('../partials/header.ejs')%>

    <title>System Admin</title>
</head>

<body>
    <%- include('../partials/nav.ejs', {page: 'sysadmin', user}) %>

    <h1>List of Users</h1>

    <a href="/admin/sysadmin" class="btn btn-primary">System Admin Home</a>
    <br>

    <% if(!error) { %>
    <table class="table table-stripped">
        <% users.forEach(u => { %>
        <tr>
            <td>
                Email: <%= u.email %><br>
                DisplayName: <%= u.displayName %><br>
                PhoneNumber: <%= u.phoneNumber %><br>
                <img height="100" src="<%= u.photoURL %>">
                <br>
                <form action="/admin/email" method="post" style="display:inline">
                    <input hidden name="to" value="<%= u.email %>">
                    <input type="text" name="content" placeholder="Enter message contents" size="75">
                    <button type="submit" class="btn btn-primary">Send Email</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
    <% } else { %>

    <% } %>

    <%- include('../partials/scripts.ejs')%>
</body>

</html>