<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item <%= page === 'storefront' ? ' active' : ''%>">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item <%= page === 'about' ? ' active' : ''%>">
                <a class="nav-link" href="/b/about">About</a>
            </li>
            <li class="nav-item <%= page === 'contact' ? ' active' : ''%>">
                <a class="nav-link" href="/b/contact">Contact</a>
            </li>
            <li class="nav-item <%= page === 'profile' ? ' active' : ''%>">
                <a class="nav-link" href="/b/profile">Profile</a>
            </li>
            <% if(!user) { %>
            <li class="nav-item <%= page === 'signin' ? ' active' : ''%>">
                <a class="nav-link" href="/b/signin">Sign In</a>
            </li>
            <% } else { %>
            <li class="nav-item <%= page === 'signout' ? ' active' : ''%>">
                <a class="nav-link" href="/b/signout">Sign Out</a>
            </li>
            <% } %>
            <li class="nav-item <%= page === 'interested' ? ' active' : ''%>">
                <a class="nav-link" href="/b/interested">
                    Interested<span style="color:blue"><%= iCount > 0 ? `(${iCount})` : ''%></span></a>
            </li>
            <li class="nav-item <%= page === 'borrowed' ? ' active' : ''%>">
                <a class="nav-link" href="/b/borrowed">
                    Borrowed<span style="color:red"><%= bCount > 0 ? `(${bCount})` : ''%></span></a>
            </li>
            <% if(user && (user.email === 'prodadmin@test.com' || user.email === 'sysadmin@test.com')) { %>
            <li class="nav-item">
                <a class="nav-link" href="/login">Librarian</a>
            </li>
            <% } %>
            <% if(user && user.email === 'sysadmin@test.com') { %>
            <li class="nav-item">
                <a class="nav-link" href="/admin/sysadmin">SysAdmin</a>
            </li>
            <% } %>
            <% if(page === 'storefront') { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Sort By
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <form action="/" method="post" style="display:inline">
                        <input type="hidden" name="query" value="sort">
                        <input type="hidden" name="sortBy" value="title">
                        <input type="hidden" name="order" value="asc">
                        <button type="submit" class="btn btn-primary-outline">Title (A-Z)</button>
                    </form>
                    <form action="/" method="post" style="display:inline">
                        <input type="hidden" name="query" value="sort">
                        <input type="hidden" name="sortBy" value="title">
                        <input type="hidden" name="order" value="desc">
                        <button type="submit" class="btn btn-primary-outline">Title(Z-A)</button>
                    </form>
                    <form action="/" method="post" style="display:inline">
                        <input type="hidden" name="query" value="sort">
                        <input type="hidden" name="sortBy" value="author">
                        <input type="hidden" name="order" value="asc">
                        <button type="submit" class="btn btn-primary-outline">Author(A-Z)</button>
                    </form>
                    <form action="/" method="post" style="display:inline">
                        <input type="hidden" name="query" value="sort">
                        <input type="hidden" name="sortBy" value="author">
                        <input type="hidden" name="order" value="desc">
                        <button type="submit" class="btn btn-primary-outline">Author(Z-A)</button>
                    </form>
                </div>
            </li>
            <% } %>
            <li>
                <form action="/" method="post">
                    <input type="hidden" name="query" value="search">
                    <input class="form-control form-control-sm" type="text" id= "search" name="search" placeholder="Looking for something?"aria-label="Search" style="display:inline-block">
                    <button type="submit" class="btn btn-primary-outline">Search</button>
                </form>    
            </li>

        </ul>
    </div>
</nav>
</nav>

<div class="contain" style="padding: 0.5%; align-items: center;">